<main>
    <form [formGroup]="form" (submit)="submit()" autocomplete="on">
      <h1>Login</h1>
  
      <div class="form-control">
        <label for="floatingInput">Name</label>
        <input
          formControlName="name"
          type="name"
          class="form-control"
          id="floatingInput"
        placeholder="your name"
        />
      </div>
      <div class="form-control">
        <label for="floatingPassword">Password</label>
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
        />
      </div>
  
      <button type="submit">Sign in</button>
    </form>
  </main>
  